### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3



### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
**/migrations/**
!**/migrations
!**/migrations/__init__.py



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
.idea/

# Support for Project snippet scope
!.vscode/*.code-snippets
