{% extends 'base.html' %}
{% load static %}
{% block title %}
search
{% endblock %}
{% block content %}



<div class=" my-container grid-cols-3fr-1fr mob-grid">

    <div>
        <div class=" pt-4 fw-bold fs-2 center">{% if results|length == 0 %}
            No search results.
            {% endif %}
        </div>
        {% for news in results %}

        <div class=" text-0c4da1 border-bottom-1-gray pb-2 pt-1 expanded-w ph-4 column gap-0-5">
            <a class="fs-2" href="{% url 'news' id=news.id  %}">{{news.title}}</a>
            <a class="fs-1-6 text-green opa-0-7 " href="{% url 'news' id=news.id  %}">
                https://{{ request.get_host}}{{request.path}}{{news.id}}</a>
            <div class="fs-1-4 line-limit-3  opa-0-9 text-black lh-1">{{news.description | safe}}</div>
        </div>
        {% endfor %}
    </div>
    <div class="pl-1 pt-4 border-left bg-white ">
        <div class="taja-update"> {% include 'include/recent-update.html' %}</div>
    </div>
</div>



{% endblock %}